package views

templ Layout(title string, comp templ.Component) {
	<!DOCTYPE html>
	<html lang="es">
	<head>
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/png" href="/static/icono.png"/>
		<link rel="stylesheet" href="/static/styles.css"/>
		<title>{ title }</title>
	</head>
		<body hx-get="/refresh" hx-trigger="every 15m" hx-swap="none">
			@comp
		</body>
	</html>
}